.banner{
    background: rgba(255, 144, 14, 0.10);;
    padding: 50px 240px;
}

.btn-primary {
    background-color: orange;
    color: white;
    border: 0;
    padding: 9px 12px;
    font-weight: bold;
}


.overall-banner{
    
}

/* nav style start */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-description, p{
    color: #727272;
}

nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
}

nav li a{
    text-decoration: none;
    margin-left: 20px;
}


/* nav style end */

.banner-title-section , .Some-Facts-2 {
    max-width: 800px;
    text-align: center;
    /* line-height: 100%; */
    margin: 0 auto;
}

 .banner-title{
    font-size: 4rem;
    font-weight: 700px;
}

.g3-architects{
    font-size: 30px;
}

.banner-img img{
    width: 100%;
    margin-top: 50px;
} 

/* main section start */

.photo-album{
    
    display: flex;
    align-items: center;
    margin: 20px 240px;
    gap: 40px;
    
    
}
.photo-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.photo-box img{
    width: 200px;
}

.photo-content{
    padding-left:70px ;
    /* padding-right:70px ; */
}


/* main section end */

.girl-section{
    display: flex;
    margin: 30px 240px;
    gap:20px
}
.girl-photo img{
    width: 100%;
}

.girl-description{
    width: 100%;
}

.yelow{
    background-color: orange;
    width: 110px;
    padding: 2px;
    color: white;
    text-align: center;
    position: relative;
    margin-top:-80px;
    margin-left: -20px;
    border-radius: 5px;
}
span{
    margin-top: 0;
    padding: 0;
}


/*  .Some-Facts */

.Some-Facts{
    margin: 20px 240px;
    padding-right: 300px;
}

/* icons  */
.icons-container{
    display: flex;
    margin: 50px 240px;
    justify-content: space-around;
    
}
.icon{
    text-align: center;
    border: 0.5px solid orchid;
    padding: 10px;
}

.footer{
    background-color: bisque;
    margin:30px 240px;
    align-items: center;
    text-align: center;
    padding: 10px 0;
}

/* media queri */




@media screen and (max-width:576px){
    nav{
        flex-direction: column;
       
    }
    .banner{
        padding: 20px;
    }
}
@media screen and (min-width:576px) and (max-width:780px){
    nav{
        flex-direction: column;
    }
    .banner{
        padding: 20px;
    }
}
@media screen and (max-width:576px){
    .photo-album{
       flex-direction: column;
       margin: 0;
      
       
    }
    .photo-box{
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        
    }
    .photo-box img{
        width: 100%;
        margin-top: 20px;
    }
}
@media screen and (max-width:576px){
    .girl-section{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .girl-description, .girl-photo{
        padding: 20px 30px;
    }
}

@media screen and (max-width:576px) {
    .icons-container , .Some-Facts, .footer{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
}